@model IEnumerable<MusicPortal.BLL.DTO.MusicDTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<div>
    @foreach (var item in ViewBag.Musics)
    {
        <br> <br>
        <div class="div_m1">
            <div class="div_mess div_m2">
                <h1 class="h1_m">@item.Video_Name (@item.Year)</h1>
                <video controls loop class="video">
                    <source src="@Url.Content(item.Video_URL)" type="video/webm">
                </video>
            </div>
            <div class="div_m3">
                <h2>@item.Video_Name (@item.Year)</h2>
                <p>Исполнитель: </p>
                <p>Альбом: @item.Album</p>
                <p>Стиль: @* @item.MusicStyle.StyleName *@</p>
                <p>Разместил: @* @item.User.Login *@</p>
                <p>Дата публикации: @item.VideoDate</p>
                @if (Context.Session.GetInt32("Level") == 2 && Context.Session.GetString("Login") != null)
                {
                    <a class="a_bt EditMusicDialog" asp-action="Edit" asp-route-id="@item.Id" data_dialog_title="Edit model">Редактировать</a>
                    <a class="a_bt DeleteMusicDialog" asp-action="Delete" asp-route-id="@item.Id" data_dialog_title="Delete model">Удалить</a>
                }
            </div>
        </div>
        <br> <br> <br>
    }
</div>

@section Scripts{
    <script>
        $(document).ready(function () {

            $(".DeleteMusicDialog").on("click", function (e) {
                e.preventDefault();

                $("<div></div>")
                    .addClass("dialog")
                    .appendTo("body")
                    .dialog({
                        title: "Удаление песни",
                        close: function () { $(this).remove() },
                        width: "420px",
                        modal: true
                    })
                    .load(this.href);
            });

            $("#AddMusicDialog").on("click", function (e) {
                e.preventDefault();

                $("<div id='dialogContent' style='width: 10px'></div>")
                    .addClass("dialog")
                    .appendTo("body")
                    .load(this.href)
                    .dialog({
                        title: "Добавление песни",
                        close: function () { $(this).remove() },
                        dialogClass: 'myTitleClass',
                        width: "420px",
                        resizable: false,
                        modal: true,
                        buttons: [{
                            class: "input_subm inp_sub2",
                            text: "Добавить",
                            click: function () {
                                var files = $("#Video_URL")[0].files;
                                var formData = new FormData();
                                formData.append("Video_URL", files[0]);

                                formData.append("Video_Name", $("#Video_Name").val());
                                formData.append("Album", $("#Album").val());
                                formData.append("Year", $("#Year").val());
                                formData.append("VideoDate", $("#VideoDate").val());
                                formData.append("MusicStyleId", $("#MusicStyleId").val());
                                formData.append("SingerId", $("#SingerId").val());
                                formData.append("UserId", $("#UserId").val());
                                $.ajax({
                                    url: "@Url.Action("Create", "Music")",
                                    type: "POST",
                                    data: formData,
                                    processData: false,
                                    contentType: false,
                                    success: function (result) {
                                        $("#dialogContent").html(result);
                                    },
                                    error: function (x, y, z) {
                                        alert(x + '\n' + y + '\n' + z);
                                    }
                                });
                            }
                        }]
                    });
            });

            $(".EditMusicDialog").on("click", function (e) {
                e.preventDefault();

                $("<div id='dialogContent' style='width: 10px'></div>")
                    .addClass("dialog")
                    .appendTo("body")
                    .load(this.href)
                    .dialog({
                        title: "Редактирование песни",
                        close: function () { $(this).remove() },
                        dialogClass: 'myTitleClass',
                        width: "420px",
                        resizable: false,
                        modal: true,
                        buttons: [{
                            class: "input_subm inp_sub2",
                            text: "Сохранить",
                            click: function () {
                                var files = $("#Video_URL")[0].files;
                                var formData = new FormData();
                                formData.append("Video_URL", files[0]);

                                formData.append("Video_Name", $("#Video_Name").val());
                                formData.append("Album", $("#Album").val());
                                formData.append("Year", $("#Year").val());
                                formData.append("VideoDate", $("#VideoDate").val());
                                formData.append("MusicStyleId", $("#MusicStyleId").val());
                                formData.append("SingerId", $("#SingerId").val());
                                formData.append("UserId", $("#UserId").val());
                                formData.append("Id", $("#Id").val());

                                $.ajax({
                                    url: "@Url.Action("Edit", "Music")",
                                    type: "POST",
                                    data: formData,
                                    processData: false,
                                    contentType: false,
                                    success: function (result) {
                                        $("#dialogContent").html(result);
                                    }
                                });
                            }
                        }]
                    });
            });

            $("#RegisterDialog").on("click", function (e) {
                e.preventDefault();

                $("<div id='dialogContent' style='width: 10px'></div>")
                    .addClass("dialog")
                    .appendTo("body")
                    .load(this.href)
                    .dialog({
                        title: "Регистрация",
                        close: function () { $(this).remove() },
                        dialogClass: 'myTitleClass',
                        width: "420px",
                        resizable: false,
                        modal: true,
                        buttons: [{
                            class: "input_subm inp_sub2",
                            text: "Сохранить",
                            click: function () {
                                $.ajax({
                                    url: "@Url.Action("Register", "User")",
                                    type: "POST",
                                    data: $('form').serialize(),
                                    datatype: "json",
                                    success: function (result) {
                                        $("#dialogContent").html(result);
                                    }
                                });
                            }
                        }]
                    });
            });

            $("#LoginDialog").on("click", function (e) {
                e.preventDefault();

                $("<div id='dialogContent'></div>")
                    .addClass("dialog")
                    .appendTo("body")
                    .load(this.href)
                    .dialog({
                        title: "Вход",
                        close: function () { $(this).remove() },
                        dialogClass: 'myTitleClass',
                        width: "420px",
                        resizable: false,
                        modal: true,
                        buttons: [{
                            class: "input_subm inp_sub2",
                            text: "Войти",
                            click: function () {
                                $.ajax({
                                    url: "@Url.Action("Login", "User")",
                                    type: "POST",
                                    data: $('form').serialize(),
                                    datatype: "json",
                                    success: function (result) {
                                        $("#dialogContent").html(result);
                                    }
                                });
                            }
                        }]
                    });
            });

        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}